#jinja2: lstrip_blocks: True
#{{ ansible_managed }}
include /etc/nginx/modules-enabled/*.conf;
user {{ nginx_user }} {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid {{ nginx_pid }};

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    sendfile {{ nginx_sendfile -}};
    tcp_nopush {{ nginx_tcp_nopush -}};
    tcp_nodelay {{ nginx_tcp_nodelay -}};
    keepalive_timeout {{ nginx_keepalive_timeout -}};
    types_hash_max_size {{ nginx_types_hash_max_size -}};
    server_tokens {{ nginx_server_tokens -}};
    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};

    include /etc/nginx/mime.types;
    default_type {{ nginx_default_type -}};

    ssl_protocols {{ nginx_ssl_protocols -}};
    ssl_ciphers {{ nginx_ssl_ciphers -}};
    ssl_prefer_server_ciphers {{ nginx_ssl_prefer_server_ciphers -}};
    ssl_dhparam {{ nginx_ssl_dhparam -}};
    ssl_ecdh_curve {{ nginx_ssl_ecdh_curve -}};
    ssl_session_timeout {{ nginx_ssl_session_timeout -}};
    ssl_session_cache {{ nginx_ssl_session_cache -}};
    ssl_session_tickets {{ nginx_ssl_session_tickets -}};
    ssl_stapling {{ nginx_ssl_stapling -}};
    ssl_stapling_verify {{ nginx_ssl_stapling_verify -}};

    {% if nginx_resolvers %}
    resolver {{ nginx_resolvers | join (' ') }} valid=300s;
    resolver_timeout 5s;
    {% endif %}

    log_format main
    {{ nginx_log_format_main | indent(8, first=True) }};

    access_log {{ nginx_access_log }} main;
    error_log {{ nginx_error_log -}};

    {% if nginx_syslog %}
    log_format syslog
    {{ nginx_log_format_syslog | indent(8, first=False) }};
    access_log "syslog:server=unix:/dev/log" syslog;
    error_log "syslog:server=unix:/dev/log";
    {% endif %}

    gzip {{ nginx_gzip -}};
    gzip_vary {{ nginx_gzip_vary -}};
    gzip_disable {{ nginx_gzip_disable -}};
    gzip_types {{ nginx_gzip_types -}};
    gzip_proxied {{ nginx_gzip_proxied -}};
    {% if nginx_global is defined %}
    {% for global_var in nginx_global %}
        {{ global_var.content }}
    {% endfor %}
    {% endif %}
    include /etc/nginx/sites/*.conf;
   {% for map in nginx_maps | default([]) %}
   map {{ map.condition }} {
       {{ map.content }}
   }
   {% endfor %}

}
