#jinja2: lstrip_blocks: True
#{{ ansible_managed }}
{% macro fix_domain(domain) %}{#- remove leading and following dot -#}
    {%- if domain[0] == '.' and domain[-1] == '.' -%}
        {{ domain[1:-1] }}
    {%- elif domain[0] == '.' -%}
        {{ domain[1:] }}
    {%- elif domain[-1] == '.' -%}
        {{ domain[:-1] }}
    {%- else -%}
        {{ domain }}
    {%- endif %}
{%- endmacro %}
{% macro build_domain_list(domain, separator) %}
    {%- if domain[-1] == '.' -%}{#- domain is already a full qualified domain name -#}
        {#- output domain name with appended prefix and suffix, with given separator and without leading dot -#}
        {{- separator }}{{ domain[:-1] -}}
    {%- else -%}
        {% for prefix in nginx_domain_prefixes -%}{#- append all domain prefixes -#}
            {%- for suffix in nginx_domain_suffixes -%}{#- append all domain suffixes -#}
                {#- output domain name with appended prefix and suffix, with given separator -#}
                {{- separator }}{{ fix_domain( [prefix,domain,suffix] | join('.') ) -}}
            {%- endfor %}
        {%- endfor %}
    {%- endif -%}
{% endmacro -%}

   server {
       {% for header in nginx_site.headers | default([]) -%}
       add_header {{ header }};
       {% endfor %}

       {% if nginx_site.return is defined -%}
       return {{ nginx_site.return }};
       {%- endif %}
       {%- if nginx_site.index_files is defined -%}
       index{% for index_var in nginx_site.index_files %} {{ index_var }}{% endfor %};
       {% endif %}
       root {{ nginx_www_root }}/{{ nginx_site.name }}/htdocs;
       {% if nginx_site.https | default(True) %}
       listen 443 ssl{% if nginx_site.enable_http2 is defined and nginx_site.enable_http2 %} http2 {% endif %}{% if nginx_site.default_server is defined and nginx_site.default_server %} default_server {% endif %};
       {% if nginx_site.ipv6 | default(True) %}
       listen [::]:443 ssl{% if nginx_site.enable_http2 is defined and nginx_site.enable_http2 %} http2 {% endif %};
       {% endif %}

       ssl_certificate /etc/ssl/nginx/{{ nginx_site.name }}.pem;
       ssl_certificate_key /etc/ssl/nginx/{{ nginx_site.name }}.key;

       {% else %}
       listen 80 {% if nginx_site.default_server %} default_server{% endif %};
       {% endif %}
       server_name
       {%- if nginx_site.domains is defined and nginx_site.domains|length > 0  %}
           {%- for domain in nginx_site.domains -%}
               {{- build_domain_list( domain, ' ' ) -}}
           {%- endfor -%};
       {%- else %}
           _;
       {% endif %}
       access_log {{ nginx_www_root }}/{{ nginx_site.name }}/log/access.log main;
       error_log {{ nginx_www_root }}/{{ nginx_site.name }}/log/error.log warn;
       {% if nginx_syslog %}
       access_log syslog:server=unix:/dev/log,facility=daemon,tag=nginx,nohostname,severity=info syslog;
       error_log syslog:server=unix:/dev/log,facility=daemon,tag=nginx,nohostname,severity=error warn;
       {% endif %}

       {%- if nginx_site.client_max_body_size is defined -%}
           client_max_body_size {{ nginx_site.client_max_body_size }};
       {%- endif %}
       {%- if nginx_site.fastcgi_buffers is defined -%}
           fastcgi_buffers {{ nginx_site.fastcgi_buffers }}
       {%- endif %}
       {%- for configuration in nginx_site.configurations | default([]) %}
           {{- configuration.content | indent( width=12) }}
       {%- endfor %}
       {%- for location_var in nginx_site.locations | default([]) %}

       location {{ location_var.condition }} {
           {% if location_var.ignore_access is defined -%}
               {%- for ip_range in nginx_site.allowed_ip_ranges -%}
               allow {{ ip_range }};
               {%- endfor %}
               deny all;
           {%- endif %}
           {{ location_var.content | indent( width=12) }}
       }
   {% endfor -%}
   }

   {%- for upstream in nginx_site.upstreams | default([]) -%}
   upstream {{ upstream.name }} {
       {% if upstream.path is defined %}
       server {{ upstream.path }};
       {% else %}
       {{- upstream.content | indent( width=8 )}}
       {% endif %}

   }
   {% endfor %}
